* {
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
}
body {
    display: flex;   
    height: 100vh;
    margin: 0;
}
html,body {
            overflow: hidden;
            height: 100%;
        }
::-webkit-scrollbar {
     display: none;
   }
#wrap {
      -ms-overflow-style: none;
      
}
#wrap::-webkit-scrollbar{
     display:none;
}


/* 화면 너비가 768px 이하일 때, 3개의 div만 보이도록 설정 */
@media screen and (max-width: 1700px) {
    .txt_area {
        flex: 0 0 33.33%;
    }
}

/* 화면 너비가 480px 이하일 때, 2개의 div만 보이도록 설정 */
@media screen and (max-width: 1024px) {
    .txt_area {
        flex: 0 0 50%;
    }
}

/* 화면 너비가 320px 이하일 때, 1개의 div만 보이도록 설정 */
@media screen and (max-width: 700px) {
    .txt_area {
        flex: 0 0 100%;
    }
}