* {
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
}
body {
    display: flex;   
    height: 100vh;
    margin: 0;
}
html,body {
            overflow: hidden;
            height: 100%;
        }
::-webkit-scrollbar {
     display: none;
   }
#wrap {
      -ms-overflow-style: none;
}
#wrap::-webkit-scrollbar{
     display:none;
}


/* header */
header {
    position: relative;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 136px;
    display: flex;
    align-items: center;
}
header > .nav {
    width: 92%;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
header > .nav > .logo {
    position: absolute;
    bottom: 0;
}
.menu_box {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}

.menu_div {
    /* background-color: red; */
    position: relative;
    width: 120px;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;
    height: 100%; /* 부모 요소의 높이를 기준으로 정렬 */
}


/*  hover_nav */

header > .after_nav {
    display: none;
    width: 100%;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 0;
    background-color: #fff;
    transform: translate(-50%);
     
}

header > .after_nav > .after_logo {
    position: absolute;
    top: 12.4%;
    left: 4.4%;
}

.after_menu_div {
    display: inline-block; /* 항목을 인라인 블록으로 표시하여 가로로 정렬 */
    width: 120px;
    position: relative;
    /* background-color: red; */
}
.after_menu_box {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}
.after_menu_div a {
    display: flex;
    justify-content: center;
    
}
.after_menu_div > a {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.after_menu_div a:hover {
    color: #007bff; /* 호버시 텍스트 색상 변경 */
}

.sub_menu {
    margin-top: 50px;
    position: absolute;
    top: 100%;
    width: 100%;
    
}
.sub_menu > li > a {
    font-size: 15px;
    font-weight: 300;
    color: #000;
    margin-bottom: 10px;

}
.menu_div:hover .after_nav{
    display: block;
}

/* main_img_slide */
.slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    overflow-y: auto;
}
.slide_box {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slide-animation 25s infinite;
    
}
.slide {
    flex: 0 0 100%;
    transition: transform 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.slide img { 
    width: 100%;
    height: 100%;
}
.slide > .txt_box {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

}
.slide .txt_box > h2 {
    font-family: "Sedan", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 64px;
}
.slide .txt_box p {
    margin: 50px 0 80px 0;
    font-family: "Noto Sans KR", serif;
    font-size: 17px;
    line-height: 25px;
    font-weight: normal;
}
.txt_box .view {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    width: 140px;
    height: 40px;
    border: 1px solid #fff;
}
.txt_box .view:hover {
    background-color: #a58383;
    transition: all 1s;
    border: none;
    transform: translate(1.1);
    border-radius: 5px;
}
.txt_box .view span {
    line-height: 40px;
    font-size: 16px;
}

@keyframes slide-animation {
    0%, 20% { transform: translateX(0);}
    25%, 45% { transform: translateX(-100%); }
    50%, 70% { transform: translateX(-200%); }
    75%, 95% { transform: translateX(-300%); }
    100% { transform: translateX(0); }
}


/* contianer */
.container {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('../img/hoverpage_main.jpg');
    background-size: cover;
    background-position: center bottom;
    transition: background-image 0.3s ease;
    display: flex;
    
}

.cell {
    width: 100%;
    display: flex;
    height: 100%;
    transition: transform 0.3s ease;
}

.txt_area {
    z-index: 2;
    flex: 0 0 25%;
    position: relative;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-color: rgb(255, 255, 255, 0.1);
    height: 100%; /* 변경된 부분 */
    box-sizing: border-box;
    transition: background-image 1s ease;
    font-size: 16px;
    letter-spacing: -1px;
    line-height: 1.2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.txt_area:hover {
    background-color: rgba(165, 102, 102, 0.8);
}
.txt_area1:hover {
    background-image: url('../img/hoverpage1.jpg');
}

.txt_area2:hover {
    background-image: url('../img/hoverpage2.jpg');
}

.txt_area3:hover {
    background-image: url('../img/hoverpage3.jpg');
}

.txt_area4:hover {
    background-image: url('../img/hoverpage4.jpg');
}

.txt_area5:hover {
    background-image: url('../img/hoverpage5.jpg');
}

.txt_area6:hover {
    background-image: url('../img/hoverpage6.jpg');
}

.txt_area7:hover {
    background-image: url('../img/hoverpage7.jpg');
}

.txt_area8:hover {
    background-image: url('../img/hoverpage8.jpg');
}

.button-container {
    position: absolute;
    bottom: 9%;
    right: 5%;
    /* border: 0;
    background-color: transparent; */
    
}
#nextButton {
    margin-left: 25px;
}
.txt_area:hover .txt_box2 {
    display: block;
}

.txt_area > .txt_box {
    position: absolute;
    top: 23%;
    width: 75%;
    height: 340px;
    letter-spacing: -1px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.txt_box > p {
    margin-top: 5px;
}
.txt_area > .txt_box span {
    margin-right: 5px;
    border: 1px solid #fff;
    padding: 2px 12px;
}

.txt_area > .txt_box > h2 {
    text-align: center;
    font-size: 28px;
    margin-top: 30px;
    line-height: 35px;
    font-weight: lighter;

}
.txt_area > .txt_box2 {
    position: absolute;
    bottom: 0;
    width: 75%;
    height: 390px;
    display: flex;
    display: none;
    transition: all 2s ease-in;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
.txt_area > .txt_box2 > ul > li {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
.txt_area > .txt_box2 > ul > li > p {
    position: absolute;
    left: 20%;
}
.txt_area > .txt_box2 > .cell_icon {
    position: absolute;
    width: 65%;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%);
    font-weight: 600;
}
.txt_area > .txt_box2 > .cell_icon img {
    margin-right: 5px;
}
.txt_area > .txt_box2 > .cell_icon > .homepage {
    position: absolute;
    left: 0;
}

.txt_area > .txt_box2 > .cell_icon > .like {
    position: absolute;
    right: 0;
}
.txt_area > .txt_box2 > ul > .pop > p {
    margin: 5px 0;
}

/* table_cell */
.table_cell {
    position: relative;
    display: flex;
    height: 100vh; /* 전체 화면 높이에 딱 맞게 설정 */
    background-color: red;
}
.table_cell .list_box_set {
    display: flex;
    position: absolute;
    width: 50%;
    height: 50%;
    left: 10%;
    top: 20%;
}
.table_cell .list_box_set .list_box {
    width: 30%;
    height: 90%;
    border: 1px solid #fff;
    margin-right: 10px;
}
.table_cell .list_box_set .list_box
.table_cell > .center_box {
    position: absolute;
    width: 100px;
    height: 200px;
}
