/* footer */
.fot_box {
    position: relative;
    background-color: #424242;
    width: 100%;
    height: 310px;
}
.fot_box .fot_logo {
    position: absolute;
    top: 25%;
    left: 5%;
}
.fot_box .left_eng {
    position: absolute;
    bottom: 20%;
    left: 5%;
    font-size: 13px;
    color: #afafaf;
}
.right_box {
    display: flex;
    position: absolute;
    top: 27%;
    right: 5%;
    width: 28%;
    min-width: 530px;

    justify-content: space-between;
}
.fot_box .right_box > p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fot_box .right_box > p > .as {
    margin: 0 10px;
}

.fot_box .right_box .fot_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #acacac;
    min-width: 180px;
    width: 180px;
    height: 40px;
    font-size: 14px;
    border-color: rgb(255, 255, 255, 0.5);
    transition: all 0.5s ease-in;
}
.fot_box .right_box .fot_btn:hover {
    transform: translate(1.1);
    border-radius: 8px;
    background-color: #916a6a;
    color: #fff;
    border: none;
}
.fot_box .fot_nav {
    position: absolute;
    bottom: 20%;
    right: 5%;
}